body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #797D7F;
    line-height: 1.89;
    border: 1.525rem solid #fff
}

h1 {
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 1.33
}

.sub-h1--small {
    color: #440381;
    font-size: 1.45rem
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.35rem
    }
    .sub-h1--small {
        font-size: 1.15rem
    }
}

.vibrate-2 {
    -webkit-animation: vibrate-2 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) infinite alternate both;
    animation: vibrate-2 0.65s cubic-bezier(0.755, 0.050, 0.855, 0.060) infinite alternate both;
}

@-webkit-keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-2 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    60% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

h1,
h2,
h4,
h5 {
    color: #212529;
    font-weight: 300;

}

h3 {
    font-size: 2.1rem;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    color: #212529;
    padding-bottom: 4rem
}

h4 {
    font-weight: 1.725rem;
}

h5 {
    font-size: 1.425rem;
    padding-bottom: 1.25rem
}

label {
    font-size: 1rem;
    margin-bottom: .95rem
}

a {
    color: #440381;
}

a:hover {
    color: #663097;
    -webkit-transition: 1.2s ease;
    -o-transition: 1.2s ease;
    transition: 1.2s ease
}

li {
    padding-bottom: .875rem
}

.lead {
    font-size: 1.45rem;
    font-weight: 300;
    color: #212529;
    padding-bottom: 1rem
}

.big--white {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.25rem;
    color: #ffffff
}

.small--white {
    font-size: 1.55rem
}

.navbar-text {
    color: #334A52;
    font-size: 1.275rem
}

.section--spacing {
    padding-top: 15rem;
    padding-bottom: 7rem
}


ul {
    list-style: none;
    padding-left: 0px
}

#about--me {
    padding-top: 10vh;
    padding-bottom: 10vh
}

#about--skills {
    padding-top: 10vh;
    padding-bottom: 18vh
}

.about--job > p {
    font-size: 0.925rem
}

.about--job {
    padding-bottom: 2rem
}

#about--get-in-touch {
    background-color: #7048e8;
    color: #ffffff;
    padding-top: 12vh;
    padding-bottom: 10vh
}

#about--get-in-touch a {
    color: #ffffff
}
